@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    width: 100%;
    background-color: #000000;
    color: aliceblue;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {

    color: hsl(135, 93%, 44%);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font: weight 600;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    text-decoration: underline;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.apresentacao__curriculo__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__curriculo__texto {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.apresentacao__curso {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.apresentacao__curso__lista {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__curso__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__curso__cursos {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.strong {
    color: hsl(135, 93%, 44%)
}

.imagem__principal{ 
    width: 50%;

}

.rodape {
    padding: 24px;
    background-color: hsl(135, 93%, 44%);
    color: aliceblue;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 40px;
    }

    .cabecalho__menu__link {
        font-size: 1.25rem;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 40px;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}